{% extends 'layoutAdmin.html.twig' %}

{% block content %}

    <div class="text-center"><a class="btn btn-success mt-5 mb-5" href="/Admin/addroom" role="button">Ajouter une
            chambre</a></div>
    {% for room in rooms %}
        <div class="row m-0 pt-3 pb-2 border-top border-bottom {% if loop.index is odd %}bg-light{% endif %}">
            <p class="col-2 text-body">{{ room.name }}<p>
            <div class="col-2"><a class="btn btn-primary" href="#" role="button">Modifier</a></div>
            <div class="col-2"><a class="btn btn-primary" href="#" role="button">supprimer</a></div>
            <button type="button" class=" btn btn-primary " data-toggle="modal"
                    data-target="#modal{{ loop.index }}">
                Supprimer la chambre
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modal{{ loop.index }}" tabindex="-1" role="dialog"
                 aria-labelledby="supprimer la {{ room.name }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal{{ loop.index }}">Supprimer une
                                chambre</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Voulez-vous supprimer la {{ room.name }}?
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="/Admin/rooms">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non
                                </button>
                                <button class="btn btn-danger" name='id'
                                        value="{{ room.id }}"
                                        type="submit"> Oui, supprimer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}