{% extends 'layout.html.twig' %}
{% block title %}Chambres Grand Hôtel{% endblock %}
{% block content %}
    <h1>Les chambres du Grand Hôtel d'Orléans</h1>


    {% for key, room in rooms %}
        <div class="card mb-3 mt-4">

            <div class="row">
                {% if key is odd %}
                    <div class="col-md-4">
                        <img src="/assets/images/{{ room['photo1'] }}" class="card-img" alt="photo chambre">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-2 align-self-center">
                                    <div data-toggle="modal" data-target="#modal{{ key }}2">
                                        <img src="/assets/images/{{ room['photo2'] }}" class="card-img"
                                             alt="photo chambre">
                                    </div>
                                </div>

                                <div class="col-2 align-self-center">
                                    <div data-toggle="modal" data-target="#modal{{ key }}3">
                                        <img src="/assets/images/{{ room['photo3'] }}" class="card-img"
                                             alt="photo chambre">
                                    </div>
                                </div>

                                <div class="col-2 align-self-center">
                                    <div data-toggle="modal" data-target="#modal{{ key }}4">
                                        <img src="/assets/images/{{ room['photo4'] }}" class="card-img"
                                             alt="photo chambre">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endif %}

                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ room['name'] }}</h2>
                        <p class="card-text">{{ room['description'] }}</p>

                        <p class="card-text row mb-3 mt-4"> Caractéristiques</p>
                        <div class="card-text row">
                            <ul class="col-6">
                                <li>{{ room['caracteristic1'] }}</li>
                                <li>{{ room['caracteristic2'] }}</li>
                                <li>{{ room['caracteristic3'] }}</li>


                            </ul>
                            <ul class="col-6">
                                <li>{{ room['caracteristic4'] }}</li>
                                <li>{{ room['caracteristic5'] }}</li>
                                <li>{{ room['caracteristic6'] }}</li>


                            </ul>
                        </div>
                    </div>
                </div>
                {% if key is not odd %}

                    <div class="col-md-4">
                        <img src="/assets/images/{{ room['photo1'] }}" class="card-img" alt="photo chambre">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-2 align-self-center">
                                    <div data-toggle="modal" data-target="#modal{{ key }}2">
                                        <img src="/assets/images/{{ room['photo2'] }}" class="card-img"
                                             alt="photo chambre">
                                    </div>
                                </div>

                                <div class="col-2 align-self-center">
                                    <div data-toggle="modal" data-target="#modal{{ key }}3">
                                        <img src="/assets/images/{{ room['photo3'] }}" class="card-img"
                                             alt="photo chambre">
                                    </div>
                                </div>

                                <div class="col-2 align-self-center">
                                    <div data-toggle="modal" data-target="#modal{{ key }}4">
                                        <img src="/assets/images/{{ room['photo4'] }}" class="card-img"
                                             alt="photo chambre">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="modal fade" id="modal{{ key }}2" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/{{ room['photo2'] }}" alt="photo chambre">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal{{ key }}3" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/{{ room['photo3'] }}" alt="photo chambre">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modal{{ key }}4" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/{{ room['photo4'] }}" alt="photo chambre">
                        </div>
                    </div>
                </div>


            </div>

        </div>


    {% endfor %}





{% endblock %}

