{% extends 'layout.html.twig' %}
{% block title %}Chambres Grand Hôtel{% endblock %}
{% block content %}
    <h1>Les chambres du Grand Hôtel d'Orléans</h1>
    {% for key, room in rooms %}
        <div class="card roomCard mb-3 mt-4">

            <div class="row m-0 align-items-center">
                {% if key is odd %}
                    <div class="d-none d-md-block col-md-4 p-0">
                        <img src="/assets/images/{{ room['photo1'] }}" class="card-img m-0" alt="photo chambre">
                    </div>
                {% endif %}
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ room['name'] }}</h2>
                        <div class="row font-weight-bold">
                            <p class="card-text text-right col-6">{{ room['price'] }} €</p>
                            <p class="card-text text-right col-6">{{ room['area'] }} m²</p>
                        </div>
                        <div class="row">
                            <p class="card-text">{{ room['description'] }}</p>
                        </div>
                        <div class="services">
                            <div class="row mb-3 mt-4">
                                <h3 class="col text-center"> Services</h3>
                            </div>
                            <div class="card-text row">
                                {% for caracteristic in caracteristics[key] %}
                                    {% if caracteristic is null %}
                                    {% else %}
                                        {% if loop.index0 is even %}
                                            <ul class="col-4 text-center">
                                            <li>{{ caracteristic }}</li>
                                        {% endif %}
                                        {% if loop.index0 is odd %}
                                            <li>{{ caracteristic }}</li>
                                            </ul>
                                        {% endif %}
                                        {% if loop.last and loop.index0 is even %}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-2 align-self-center pt-1 pb-1">
                                <div data-toggle="modal" data-target="#modal{{ key }}2">
                                    <img src="/assets/images/{{ room['photo2'] }}" class="card-img"
                                         alt="photo chambre">
                                </div>
                            </div>
                            <div class="col-2 align-self-center pt-1 pb-1">
                                <div data-toggle="modal" data-target="#modal{{ key }}3">
                                    <img src="/assets/images/{{ room['photo3'] }}" class="card-img"
                                         alt="photo chambre">
                                </div>
                            </div>
                            <div class="col-2 align-self-center pt-1 pb-1">
                                <div data-toggle="modal" data-target="#modal{{ key }}4">
                                    <img src="/assets/images/{{ room['photo4'] }}" class="card-img"
                                         alt="photo chambre">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if key is not odd %}
                    <div class="col-md-4 p-0">
                        <img src="/assets/images/{{ room['photo1'] }}" class="card-img m-0" alt="photo chambre">
                    </div>
                {% endif %}
                {% if key is odd %}
                    <div class="d-block d-md-none col-md-4 p-0">
                        <img src="/assets/images/{{ room['photo1'] }}" class="card-img m-0" alt="photo chambre">
                    </div>
                {% endif %}
                <div class="modal fade" id="modal{{ key }}2" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/{{ room['photo2'] }}" alt="photo chambre">
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal{{ key }}3" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/{{ room['photo3'] }}" alt="photo chambre">
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal{{ key }}4" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <img src="/assets/images/{{ room['photo4'] }}" alt="photo chambre">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
