{% extends 'layoutVisitor.html.twig' %}

{% block content %}
    <div class="container-fluid"><h1>Commentaires clients</h1>
        <div class="row"></div>
        <a class="btn btn-primary" href="../../../review/addreview" role="button">Partagez votre expérience</a>
        <div class="row justify-content-center">
            {% for review in reviews %}
                <div class="card col-3">
                    <p class="text-right p-2 pr-3">Note : {{ review.grade }}/{{ rules.maximumGrade }}</p>
                    <h5 class="card-title text-center">{{ review.name }}</h5>
                    <div class="card-body">
                        <p class="card-text">{{ review.comment }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ review.date }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascript %}<script>
let params = new URLSearchParams(document.location.search.substring(1));
let success = params.get("success");
if (success == 'true') {
    alert("Votre commentaire a bien été transmis. Il sera publié après vérification.")
}</script>{% endblock %}
