{% extends 'layoutVisitor.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class ="review-title">
            <h1>Commentaires clients</h1>
        </div>
        {% if get.success ==true %}
        <p class="text-success text-center">Votre commentaire a bien été soumis à la modération.</p>
        {% else %}
        <a class="btn btn-primary" href="/review/addreview" role="button">Partagez votre expérience</a>
        {% endif %}
            <div class ="review-button">
                    {% if get.success ==true %}
                        <p class="text-success text-center">Votre commentaire a bien été soumis à la modération.</p>
                    {% else %}
                        <a class="btn btn-review" href="/review/addreview" role="button">Partagez votre expérience</a>
                    {% endif %}
            </div>
        <div class="row justify-content-around">
            {% for review in reviews %}
                    <div class="card-review col-lg-5 col-md-12 col-sm-12">
                        <div class="header-review">
                            <div class="card-header">
                            {{ review.name }} <div class="note">Note : {{ review.grade }}/{{ maximumGrade }}</div>
                            </div>
                        </div>
                        <div class="card-body-review">
                            <blockquote class="review">
                                <p>{{ review.comment }}</p>
                                <footer class="date">Date de publication:  {{ review.date }}</footer>
                            </blockquote>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

